#eventContainer {
    border: 2px black solid;
    height: 20vw;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.events {
    width:90%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.arrowImage {
    height: 100%;
    width: 100%;
}

.leftArrow {
    width:5%;
}

.rightArrow {
    width:5%;
}