.hotelLayout {
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hotelImage img {
    border: rgba(35,190,196,1) 2px solid;
    border-radius:3px;
    max-width: 250px;
    max-height: 250px;
    /* height: 100%; */
}