.selectedHotel {
  border: 2px black solid;
  height: 40%;
  width: 600px;
  display: flex;
  margin: auto;
  max-width: 500px;
}

.hotelInfo {
  text-align: center;
}

.hotels {
  text-align: center;
  color: white;
}
